.SearchBox{
    height: 300px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-bottom: 1px solid #f2f3f4;
}

.SearchBox p{
    color: #424949;
}

.SearchBar{
    background-color: #F3F3F3;
    border: 1px solid #e5e8e8;

    width: 500px;
    height: 60px;

    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;

    border-radius: 5px;
    overflow: hidden;
}

.SearchAction{
    width: 100%;
    height: 100%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchInput{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.SearchSelections{
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

.SearchSelections span{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #d7dbdd;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 15px;
}

.SearchSelections svg{
    width: 20;
    height: 20;
}

.SearchInput div{
    width: 100%;
    height: 100%;
}

.SearchInput input{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;

    outline: none;
    border: none;
    background: none;
}

.Dropdown{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #d7dbdd;
    border-radius: 5px;
    position: absolute;
    transform: translate(-60px, 5px);
    width: 500px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.Dropdown li{
    display: flex;
    align-items: center;
    padding: 15px 20px ;
    cursor: pointer;
    border-bottom:1px solid #d7dbdd;
}

.Dropdown li:last-of-type{
    border: none;
}

.EditDropError{
    font-style: italic;
    color: #7f8c8d;
}

/* ------------------------------ */

.SearchOptions{
    display: flex;
    gap: 30px;
    font-size: 15px;
    user-select: none;
}

.SearchOptions li{
    height: 45px;
    padding: 0 10px;
    border: 1px solid #e5e8e8;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ActiveOption{
    background-color: #1f618d;
    color: white;
}

.InactiveOption{
    background-color: white;
    /* color: #424949; */
    color: #616a6b;
}


/* ------------------------------ */

.Spinner {
    width: 30px;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}


/* ------------------------------------ */
/* ------------------------------------ */

@media (max-width: 600px) {
    .SearchBar{
        width: 90vw;
        grid-template-columns: 50px auto;
    }
    .Dropdown{
        width: 90vw;
        max-height: 100%;
        transform: translate(-50px, 5px);
    }
    .SearchOptions{
        gap: 20px;
        font-size: 14px;
    }

    .SearchOptions li{
        padding: 0 10px;
        /* width: 100%; */
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

}