.Sortby{
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    height: 80px;
}

.Sortby ul{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.Sortby ul li{
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    font-size: 14px;
}

.Sortby ul li svg{
    width: 20;
    height: 20;
}

.SortbyActive{
    color: black;
    border-bottom:1px solid #d7dbdd;
}

.SortbyInactive{
    color: #424949;
}

/* -------------------------------------- */
/* -------------------------------------- */

@media (max-width: 600px) {
    .Sortby{
        height: 50px;
    }
    .Sortby ul{
        gap: 20px;
        /* justify-content: center; */
    }
    
}

@media (min-width: 601px) and (max-width: 1024px) {

}