.EditContent{
    margin: 70px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* ------------------------------------ */
/* ------------------------------------ */

.ListingBanner{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: #222222;
}


/* ------------------------------------ */
/* ------------------------------------ */

.AuthRoot{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #424949;
}

.AuthRoot a{
    text-decoration: underline;
}

/* ------------------------------------ */
/* ------------------------------------ */

.EditContainer{
    width: 100%;
    display: grid;
    grid-template-columns: auto 300px;
    gap: 20px;
}

/* -------------------------------------- */
/* -------------------------------------- */

.EditSide{
    background-color: #f8f9f9;
}

/* -------------------------------------- */
/* -------------------------------------- */

.EditForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 600px) {
    .EditContent{
        /* background-color: yellow; */
        padding: 0 10px;
    }
    .EditContainer{
        display: flex;
    }
    .EditSide{
        display: none;
    }
}
  
@media (min-width: 601px) and (max-width: 1024px) {

}