/* ------------------------------------ */
/* Page Layout*/

.PageContainer{
    margin: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ------------------------------------ */

.PageBanner{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: #424949;
    /* background-color: aquamarine; */
}

.BannerRoot{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #424949;
}

.BannerRoot a{
    text-decoration: underline;
}

/* ------------------------------------ */

.PageContent{
    width: 100%;
    display: grid;
    grid-template-columns: 650px 450px;
    justify-content: space-between;
}

/* ------------------------------------ */

.PageMarketing{
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageMarketing div{
    display: flex;
    align-items: center;
    color: #424949;
}

/* ------------------------------------ */


.PageForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 25px 0px; */
    border-radius: 5px;
}

/* ------------------------------------ */

.PagePublish button{
    width: 160px;
    background-color: #1f618d;    
    min-height: 45px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.PagePublish div{
    padding: 3;
    width: 25px;
    background: white;
}

/* ------------------------------------ */

.PageError{
    font-size: 15px;
    color: red;
}

/* ------------------------------------------- */

@media (max-width: 600px) {
    .PageContainer{
        padding: 0 15px;
    }
    .PageMarketing{
        display: none;
    }
    .PageContent{
        width: 100%;
        display: flex;
    }
    .PageForm{
        width: 100%;
    }
    .PagePublish button{
        width: 100%;
    }
}
  
@media (min-width: 601px) and (max-width: 1024px) {

}