.EditUploads{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}

.EditUploads h3{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: #154360;
}

.EditUploads h3 svg{
    width: 24;
    height: 24;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

.UploadsContainer{
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.UploadsBox{
    height: 100%;
    background-color: #f2f3f4;
    border: 1px solid #e5e8e8;
    height: 230px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.EditUploadImage{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.UploaderCloud{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 20%; */
    cursor: pointer;
    color: #424949;
}

.UploaderCloud svg{
    width: 50;
    height: 50;
}

.UploaderFunctions{
    padding: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.UploaderFunctions div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.UploaderFunctions div p{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.UploaderFunctions div p svg{
    width: 20; 
    height: 20;
    color: white;
}

.UploaderFunctions div span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 254, 254, .7);
    border-radius: 25;
    padding: 10px;
}   

.UploaderFunctions div span svg{
    width: 20;
    height: 20;
    cursor: pointer;
    color: red;
}

.UploaderFunctions p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    color: green;
    background-color: rgba(254, 254, 254, .5);
    padding: 10px;
}

.EditImage{
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.EditActions{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px;
} 

.EditActions span{
    height: 40px;
    width: 40px;
    /* padding: 0px 10px; */
    border-radius: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 14px;
    background-color: rgba(254, 254, 254, .7);
    cursor: pointer;
}

.EditActions span svg{
    height: 22;
    width: 22;
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.UploaderLoader{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #424949;
    font-size: 15px;
}

.UploadsError{
    width: 100%;
    /* height: 20px; */
    font-size: 14px;
    color: #e74c3c;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.AccountTips{
    background-color: aquamarine;
    width: 100%;
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.Confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    padding: 10px;
    background-color: rgba(0,0,0, .5);
}

.Confirmation svg{
    color: red;
    width: 40;
    height: 40;
}

.Confirmation p{
    color: white;
    font-size: 15px;
    text-align: center;
} 

.Confirmation span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.Confirmation span button{
    font-size: 15px;
    height: 40px;
    width: 100px;
    /* padding: 0px 20px; */
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #e74c3c;
    cursor: pointer;
}

.Confirmation span button:first-of-type{
    background-color: #222222;
}

/* ---------------------------------------- */
/* ---------------------------------------- */

.EditError{
    font-size: 15px;
    color: red;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 600px) {
    .EditUploads{
        display: flex;
        box-shadow: none;
        padding: 0px;
        /* background-color: aquamarine; */
    }
    .UploadsContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Confirmation span{
        flex-direction:row;
    }

}
  
@media (min-width: 601px) and (max-width: 1024px) {

}
    