.EditSelectBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.EditSelect .EditSection:last-child{
    border-bottom: none;
}

.EditSelectBox ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    
    background-color: white;
    padding: 10px 0px;
    border-radius: 10px;
}

.EditSelectBox ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: fit-content;
    padding: 10px;
    min-height: 45px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
}

.EditSelectBox ul li svg{
    width: 20;
    height: 20;
}

.NotSelected{
    background-color: #f2f3f4;
}

.Selected{
    background-color: #34495e;
    color: white;
}


/* ---------------------------------------- */
/* ---------------------------------------- */