/* ------------------------------------ */
/* Page Layout*/

.PageContainer{
    margin-top: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* ------------------------------------ */

.PageBanner{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: #424949;
    /* background-color: aquamarine; */
}

.BannerRoot{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #424949;
}

.BannerRoot a{
    text-decoration: underline;
}

/* ------------------------------------ */

.PageContent{
    width: 100%;
    display: grid;
    grid-template-columns: 650px 450px;
    justify-content: space-between;
    /* background-color: yellow; */
}

/* ------------------------------------ */

.PageMarketing{
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageMarketing div{
    display: flex;
    align-items: center;
    color: #424949;
}

/* ------------------------------------ */

.PageForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    /* padding: 25px 0px; */
    border-radius: 5px;
}

/* ------------------------------------ */

.AccountInfoBox{
    min-height: 100px;
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    border-bottom: 1px solid #d7dbdd;
    /* background-color: yellow;     */
}

.AccountEdit{
    width: fit-content;
    height: 40px;
    padding: 0 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #616a6b;
    border-radius: 5px;
    color: #424949;
    cursor: pointer;
}

/* -------------------------------------- */
/* -------------------------------------- */

.EditAccount{
    padding: 20px 0;
}

/* -------------------------------------- */

.AccountTermination{
    padding: 20px 0;
    /* background-color: #1f618d; */
}

.AccountTermination button{
    background-color: #e74c3c;
    padding: 0 15px;
    height: 45px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.AccountTermination span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.AccountTermination svg {
    width: 20;
    height: 20;
}

.AccountSpan{
    height: 45px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #707b7c;
}

.AccountSpan input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}

/* -------------------------------------- */

.AccountConfirmation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Disclaimer{
    font-size: 15px;
    line-height: 1.6;
    display: flex;
    color: black;
}

.AccountConfirmation button{
    background-color: #1f618d;  
    min-width: 140px;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------- */

.EditFunctions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.EditFunctions div{
    background: white;
    width: 25px;
    padding: 3px;
}

/* -------------------------------------- */
/* -------------------------------------- */

.EditSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.EditSpan{
    height: 45px;
    width: 100%;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.EditSpan span{
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.EditSection input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
    /* background-color: yellow; */
}

.EditSection button{
    background-color: #1f618d;     
    min-width: 140px;
    height: 40px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.EditSection button div{
    background: white;
    width: 25px;
    padding: 3px;
}

.EditActions{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}


/* -------------------------------------- */

.AuthPassoword{
    font-size: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #f8f9f9;
    border-radius: 10px;
}

.AuthPassoword li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.AuthPassoword li svg{
    width: 18;
    height: 18;
    color: red;
}

/* -------------------------------------- */
/* -------------------------------------- */

.EditError{
    font-size: 15px;
    color: red;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* -------------------------------------- */
/* -------------------------------------- */

@media (max-width: 600px) {
    .PageContainer{
        padding: 0 15px;
    }
    .PageMarketing{
        display: none;
    }
    .PageContent{
        width: 100%;
        display: flex;
    }
    .PageForm{
        width: 100%;
    }
    .AccountConfirmation button{
        width: 100%;
    }
    .EditActions{
        gap:30px;
    }

    .EditActions button{
        width: 100%;
    }

}
  
@media (min-width: 601px) and (max-width: 1024px) {

}
