.AuthContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  padding: 50px 0;
  margin-top: 70px;
}

.AuthBox{
  width: 600px;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #d7dbdd;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthResetIcon{
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.AuthResetIcon span svg{
  width: 50;
  height: 50;
  color: #1f618d;;
}

.AuthResetIcon p{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
}

.AuthResetIcon p svg{
  width: 20;
  height: 20;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthBoxInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.AuthBoxInput label{
  font-weight: 600;
  font-size: 15px;
}

.AuthBoxInput span{ 
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.AuthBoxInput span svg{
  color: #424949;
  cursor: pointer;
}

.AuthBox input{
  padding: 15px 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: rgba(0,0,0, .0);
  background-color: white !important;
}

.AuthBoxInput ul{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px 5px;
}

.AuthBoxInput  li{
  display: flex;
  align-items: center;
  gap: 10px;
}

.AuthBoxInput li svg{
  width: 16;
  height: 16;
  color: red;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthForgot{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthBox button{
  min-width: 200px;
  background-color: #1f618d;;    
  padding: 0 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthRedirect{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.AuthRedirect span{
  font-weight: 600;
  cursor: pointer;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthError{ 
  color: red;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 10px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.loader {
  width: 35px;
  aspect-ratio:6;
  background: radial-gradient(circle closest-side,#fff 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */

.SignupApproval{
  font-size: 14px;
}

.SignupApproval span{
  font-weight: 600;
  cursor: pointer;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthSuccess{
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #d7dbdd;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AuthSuccess svg{
  width: 50;
  height: 50;
  color: #2874a6;
}

.AuthSuccess h4{
  height: 40px;
  color: #2874a6;
  background-color: #f2f3f4;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.AuthSuccess button{
  min-width: 250px;
  background-color: #2874a6;    
  padding: 0 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthSend{
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #d7dbdd;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;

  /* text-align: center; */
}

.AuthSend span{
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuthSend span svg{
  width: 80;
  height: 80;
  color: #2874a6;
}

.AuthSend input{
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #7f8c8d;
  text-align: center;
}

.AuthSend button{
  min-width: 250px;
  background-color: #2874a6;   
  padding: 0 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthFail{
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #d7dbdd;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;

  /* text-align: center; */
}

.AuthFail span{
  border-radius: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.AuthFail span svg{
  width: 80;
  height: 80;
  color: red;
}

.AuthFail input{
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #7f8c8d;
  text-align: center;
}

.AuthFail button{
  width: 200px;
  background-color: #2980b9;
  padding: 0 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

.AuthReset{
  width: 600px;
  padding: 30px 50px;
  box-shadow: 0px 5px 10px #d7dbdd;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}

.AuthResetInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.AuthResetInput label{
  font-weight: 600;
}

.AuthResetInput span{ 
  border: 1px solid #7f8c8d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
}

.AuthResetInput span svg{
  color: #424949;
  cursor: pointer;
}

.AuthResetInput ul{
  background-color: #ebf5fb;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
}

.AuthResetInput ul li{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #424949;
}

.AuthResetInput ul li svg{
  width: 16px;
  height: 16px;
  color: red;
}

.AuthReset input{
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: rgba(0,0,0, .0);
}

.AuthReset button{
  min-width: 250px;
  background-color: #2874a6;    
  padding: 0 15px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  min-height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------- */
/* --------------------------------------------- */











/* 


.AuthBoxIcon{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthBoxIcon svg{
  width: 50;
  height: 50;
  color: #2874a6;
}






.AuthIcon{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthIcon svg{
  width: 80;
  height: 80;
  color: #2874a6; 
}


.AuthWrong{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.AuthWrong span{
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.AuthWrong span:hover{
  font-weight: 700;
}

.AuthSupport{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.AuthSupport svg{
  width: 20;
  height: 20;
}


 */


 
/* --------------------------------------------- */
/* --------------------------------------------- */

@media (max-width: 600px) {
  .AuthContent{
    padding: 0;
  }
  
  .AuthBox{
    width: 100%;
    padding: 30px 10px;
    box-shadow: none;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* background-color: yellow; */
  }
  .AuthBox input{
    padding: 15px 5px;
    font-size: 15px;
  }

  .AuthSuccess{
    width: 100%;
    padding: 30px 10px;
    box-shadow: none;
  
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .AuthSend{
    width: 100%;
    padding: 30px 10px;
    box-shadow: none;
  
    display: flex;
    flex-direction: column;
    gap: 20px;  
  }

  .AuthFail{
    width: 100%;
    padding: 30px 10px;
    box-shadow: none;
  
    align-items: center;
  }
  .AuthFail button{
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {


}