.CreateInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.CreateInput label{
    font-weight: 600;
    color: #424949;
}

.CreateInput input{
    height: 50px;
    padding: 10px;
    border: 1px solid #616a6b;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

/* --------------------------------- */
/* --------------------------------- */

.CreateInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.CreateInfo label{
    font-weight: 600;
    color: #424949;
}

.CreateInfo textarea{
    font-family: inherit;
    font-size: 15px;

    height: 200px;
    width: 100%;
    padding: 10px;

    border: 1px solid #616a6b;
    border-radius: 5px;
    resize: none;
    outline: none;    
    line-height: 1.5;
    vertical-align: middle;
}

.CreateInfo div{
    text-align: right;
}

/* --------------------------------- */
/* --------------------------------- */

.SearchBar{
    background-color: white;
    border: 1px solid #616a6b;
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    border-radius: 5px;
    overflow: hidden;
}

.SearchInput{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
}

.SearchSelections{
    height: 100%;
    padding: 0 10px;

    display: flex;
    align-items: center;
}

.SearchSelections span{
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #d7dbdd;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 15px;
}

.SearchSelections svg{
    width: 20;
    height: 20;
}

.SearchInput div{
    width: 100%;
    height: 100%;
}

.SearchInput input{
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;

    outline: none;
    border: none;
    background: none;
}

.Dropdown{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #d7dbdd;
    border-radius: 5px;
    position: absolute;
    width: 600px;
    max-height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.Dropdown li{
    display: flex;
    align-items: center;
    padding: 15px 20px ;
    cursor: pointer;
    border-bottom:1px solid #d7dbdd;
}

.Dropdown li:last-of-type{
    border: none;
}

.EditDropError{
    font-style: italic;
    color: #7f8c8d;
}

/* --------------------------------- */
/* --------------------------------- */

.CreateError{
    color: red;
}

/* --------------------------------- */
/* --------------------------------- */

.Approval{
    font-size: 15px;
}

.Approval span{
    font-weight: 600;
}

/* --------------------------------- */
/* --------------------------------- */

@media (max-width: 600px) {
    .SearchBar{
        width: 95vw;
        grid-template-columns: 50px auto;
    }
    .Dropdown{
        width: 95vw;
        max-height: 100%;
    }
    /* .Dropdown{
        width: 100%;
    } */
}

@media (min-width: 601px) and (max-width: 1024px) {

}
