.DashPage{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.DashLayout{
    display: grid;
    grid-template-columns: 340px auto;
    width: 100%;
    gap: 20px;
    height: 100%;
}

.DashFooter{
    height: 100px;
    background-color: #f2f3f4;
    margin-bottom: auto;
}

/* ----------------------------------- */

.CentersList,
.CenterContent{
    display: flex;
    flex-direction: column;
    border: 1px solid #b2babb;
    overflow: hidden;
    background-color: white;
    height: 100%;
}

/* ----------------------------------- */

.DashAdd{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.DashAdd input{
    border: none;
    outline: none;
    height: 45px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #7f8c8d;
}

.DashAdd input:first-of-type{
    border-right: 1px solid #7f8c8d;
}

.DashAdd button{
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: none;
    background-color: #2471a3;
    color: white;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.DashAdd button svg{
    width: 20;
    height: 20;
}

.DashAdd button div{
    background: white;
    padding: 3px;
    width: 25px;
}

.DashAdd ul{
    position: absolute;
    transform: translate(0px, 100px);
    background-color: white;
    min-width: 317px;

    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #ccd1d1;
    border-radius: 0 0 5px 5px;
}

.DashAdd ul li{
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f2f3f4;
}

.DashAdd ul li:last-of-type{
    border: none;
}

.DashAdd ul li:hover{
    background-color: #f2f3f4;
}

/* ----------------------------------- */

.DashSearch{
    padding: 10px;
    gap: 5px;
    border-top: 1px solid #b2babb;
}

.DashSearchBar{
    height: 45px;
    display: grid;
    grid-template-columns: auto 45px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    overflow: hidden;
}

.DashSearchBar input{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
    border: none;    
}

.DashSearchBar span{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f2f3f4;
}

.DashSearchAction{
    /* background-color: #2980b9; */
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.DashSearchAction span{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DashSearchAction span div{
    background: white;
    padding: 3px;
    width: 25px;
}

.DashSearch svg{
    width: 26px;
    height: 26px;
}

/* ----------------------------------- */

.CentersListHeader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e8e8;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #424949;
}

.CentersList .CentersListContent{
    height: 500px;
    overflow-y: auto;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.CentersList .CentersListContent::-webkit-scrollbar{
    display: none; /*Chrome, Safari and Opera */
}

.CentersList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e5e8e8;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}

.CentersList li p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    height: 100%;
}

.CentersList li p span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border-radius: 5px;
}

.CentersList li span svg{
    width: 16px;
    height: 16px;
}

.CentersList li div{
    width: 25px;
    padding: 3px;
}

.CentersList li:hover{
    background-color: #f8f9f9;
}

/* ----------------------------------- */

.CenterHeader{
    padding: 10px;
    background-color: #f2f3f4;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CenterName{
    display: flex;
    align-items: center;
    gap: 10px;
}

.CenterName span{
    background-color: #e5e7e9;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.CenterName span svg{
    width: 24px;
    height: 24px;
}

.CenterName span div{
    padding: 2px;
    width: 20px;
}

.CenterLinks{
    display: flex;
    align-items: center;
    gap: 20px;
}

.CenterLinks p{
    /* background-color: yellow; */
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.CenterLinks p svg{
    width: 20px;
    height: 20px;
}

.CenterRemove{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.CenterRemove p{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.CenterError{
    color: red;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* ----------------------------------- */

.CenterBody{
    padding: 10px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ----------------------------------- */

.MediaContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.AddMedia{
    height: 45px;
    width: 100%;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 45px auto; 
    overflow: hidden;   
}

.AddMedia span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}

.AddMedia span div{
    background: white;
    width: 25px;
    padding: 3px;
}

.AddMedia input{
    outline: none;
    border: none;
    font-size: 15px;
    padding: 10px;
}

/* ----------------------------------- */















.CentersAction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #e5e8e8;
}

.CentersAction p{
    font-size: 16px;
    font-weight: 600;
    color: #424949;
}

.CentersActionToggle{
    font-size: 16px;
    font-weight: 600;
    color: #424949;
    display: flex;
    gap: 20px; 
}

.CentersAction span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.CentersAction span svg{
    width: 18;
    height: 18;
}

.CentersAction span div{
    padding: 3px;
    width: 20px;
    background: white;
}

/* ----------------------------------- */

.CentersEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.CentersBody{
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.CentersContacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccd1d1;
    border-radius: 5px;
    padding: 10px;
}

.CentersContactsTitle{
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #424949;
}

.CentersAddContacts{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

/* -------------------------- */

.SocialMedia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccd1d1;
    border-radius: 5px;
    padding: 10px;
}

.MediaTitle{
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #424949;
}


.SocialMedia ul{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.SocialMedia li{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



/* -------------------------- */

.AddContact{
    width: 100%;
    
    height: 45px;
    background-color: white;
    display: grid;
    grid-template-columns: 45px auto;
    gap: 10px;
}

.CentersAddContacts input{
    outline: none;
    border: none;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    overflow: hidden;
    font-size: 15px;
    padding: 10px;
}

.AddContact span{
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.AddContact span div{
    width: 25px;
    padding: 3px;
    background: white;
}

.CentersContacts li{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.CentersContacts li span{
    height: 30px;
    width: 30px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.CentersContactsActions{
    display: flex;
    align-items: center;
    gap: 15px;
}

.CentersContacts li span svg{
    width: 20;
    height: 20;
}

.CentersContactsActions div{
    padding: 3px;
    width: 25px;
}




















/* ----------------------------------- */

.Converter{
    padding: 10px;

}

.converterList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.converterList li{
    cursor: pointer;
}

.ConverterContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ConverterSize{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    /* background-color: yellow; */
}

.ConverterSize li{
    font-size: 15px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.ConverterSize span{
    margin-left: auto;
    background-color: #e74c3c;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.ConverterSize span svg{
    width: 20;
    height: 20;
}

.ActiveSize{
    background-color: #2980b9;
    color: white;
}

.InactiveSize{
    background-color: #f2f3f4;
    color: #424949;
}

/* ----------------------------------- */

.Send{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SendContent{
    display: grid;
    grid-template-columns: auto 320px;
    gap: 10px;
    /* padding: 20px 0; */
}

.SendList{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.SendList li{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-bottom: 1px solid #e5e8e8;
    cursor: pointer;
}

.SendList li span{
    display: flex;
    align-items: center;
}

.SendList li svg{
    width: 20px;
    height: 20px;
}

.SendDisplay{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .SendDisplayList{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.SendDisplayList div{
    height: 45px;
    width: 100%;
    border: 1px solid #ccd1d1;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto 45px;
}

.SendDisplayList div p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;  
    text-overflow: ellipsis;  
    /* cursor: pointer; */
    user-select: none;
}

.SendDisplayList div span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7e9;
    cursor: pointer;
}

.SendDisplayList ul{
    position: absolute;
    border-radius: 0 0 5px 5px;
    width: 320px;
    
    max-height: 280px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccd1d1;
    
    display: flex;
    flex-direction: column;
}

.SendDisplayList ul li{
    padding: 15px 10px;
    color: #424949;
    font-size: 14px;
    /* height: 40px; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SendDisplayList ul li:hover{
    background-color: #f8f9f9;
}

.SendDisplayEmail{
    border: 1px solid #ccd1d1;
}

.Message{
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2471a3;
}

.Error{
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.Send button{
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: #2471a3;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Send button span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.Send button svg{
    width: 20px;
    height: 20px;
}

.Send button div{
    background: white;
    width: 25px;
    padding: 3px;
}



/* .CentersListActions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.CentersListActions p{
    display: flex;
    align-items: center;
    gap: 20px;
}

.CentersListActions p span{
    color: #424949;
    border: 1px solid #ccd1d1;
    border-radius: 5px;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} */