.Article{
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    /* background-color: yellow; */
}

/* ------------------------------------- */

.CentreLoader{
    background-color: #f2f3f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 270px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------- */

.ArticleVisual,
.ArticleLoader{
    background-color: #f2f3f4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 200px;
    border: 1px solid #e5e8e8;
    border-radius: 5px;
    overflow: hidden;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* ------------------------------------- */

.ArticleDetails{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.ArticleDetails h3{
    font-size: 15px;
}

.ArticleDetails p{
    font-size: 14px;
}

.SeeMore{
    display: flex;
    align-items: center;
    gap: 5px;
}

.SeeMore span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.SeeMore svg{
    width: 16;
    height: 16;
}

/* ------------------------------------- */
/* ------------------------------------- */
/* ------------------------------------- */


@media (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 1024px) {
    
}