.Listing{ 
    width: 260px;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}

.ListingVisual{
    background-color: #f8f9f9; 
    border: 1px solid #ccd1d1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.ListingActions{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}

.ActionsToggle span{
    background-color: rgba(254, 254, 254, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}

.ActionsToggle span svg{
    width: 25;
    height: 25;
}

.ActionsToggle span:hover{
    background-color: rgba(254, 254, 254, 0.7);
}

.ActionsToggle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.ActionsToggle ul{
    width: 100%;
    flex-direction: column;
    width: fit-content;
    border-radius: 5px;
    background-color: #f2f3f4;
    overflow: hidden;
}

.ActionsToggle ul li{
    width: 100%;
    height: 40px;
    /* background-color: yellow; */
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;

    display: flex;
    align-items: center;
    gap: 5px;
}

.ListingActions ul li svg{
    width: 18px;
    height: 18px;
}

.ActionsRate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%; 
    background-color: rgba(254, 254, 254, 0.9);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.ActionsRate p{
    width: 100%;
    font-size: 12px;
}

.ActionsRate div{
    height: 100%;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #b2babb;
}

.ActionsRate div div{
    height: 100%;
    background: linear-gradient(to right, #f8c4e0, #8b72d0);
}


.ListingView{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.ListingView span{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-weight: 600;
    user-select: none;
}

.ListingView svg{
    width: 18;
    height: 18; 
}

.ListingView p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    cursor: pointer;

    padding: 5px 10px;
    background-color: #e74c3c;
    border-radius: 10px;
    user-select: none;
}

.ListingView p svg{
    width: 18;
    height: 18; 
}

.ListingManage{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.ListingManage p{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px; 
    border-radius: 10px;
    font-weight: 600;
    user-select: none;
}

.ListingManage svg{
    width: 16;
    height: 16;
}

.ListingManage p:hover{
    transform: scale(1.02);
}

/* -------------------------------------- */
/* -------------------------------------- */

.CentreDetails{
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.CentreDetails div{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    color: #222222;
}

.CentreDetails div p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

.CentreDetails div p svg{
    width: 14px;
    color: black;
    fill: black;
}

.CentreDetails p:last-of-type{
    color: #424949;
}

/* ----------------------------------- */
/* ----------------------------------- */

.Confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 20px;
    background-color: rgba(0,0,0, .5);
}

.Confirmation svg{
    color: #e74c3c;
    width: 40;
    height: 40;
}

.Confirmation p{
    color: white;
    font-size: 14px;
    text-align: center;
}

.Confirmation span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.Confirmation span button{
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #e74c3c;
    cursor: pointer;  
}

.Confirmation span button:first-of-type{
    background-color: #222222;
}

/* ----------------------------------- */
/* ----------------------------------- */

.ListingLoader{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Spinner {
    width: 50px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


/* ---------------------------------------- */
/* ---------------------------------------- */

.addlisting{
    height: 100%;
    width: 260px;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    /* background-color: #8b72d0; */
    

    display: grid;
    grid-template-rows: 250px auto;
}
    /* width: 260px;
     */


.addVisual{
    height: 100%;
    background-color:#f2f3f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.addDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #8b72d0; */
}