.Nav{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-bottom: 1px solid #f2f3f4;
}

.Navbar{
    padding: 0 30px;
    max-width: 1280px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

/* ------------------------------------ */
/* ------------------------------------ */

.Logo{
    width: 100%;
    overflow: hidden; 
    /* color: #364D93; */
}

.Logo a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
}   

.Logo svg{
    width: 25;
    height: 25;
}

.Logo a p{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* color: #222222; */
    color: #1f618d;
    font-size: 16px;
}

/* ------------------------------------ */
/* ------------------------------------ */

.Functions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.Functions svg{
    width: 24;
    height: 24;
}

/* .Functions p{
    font-size: 15px;
    border: 1px solid #424949;
    border-radius: 5px;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
} */

.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 900;
}

.NavSidebar{
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 320px;
    background-color: white;
    transform: translateX(+100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.NavSidebarVisible {
    transform: translateX(0);
  }

.NavSidebar li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    padding: 0 10px;
}

.NavSidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.NavSidebar li svg{
    width: 20;
    height: 20;
}

.SidebarHeader{ 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d7dbdd;
    padding: 20px;
}

.SidebarHeader p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: #1f618d;
}

.SidebarHeader p svg{
    width: 26;
    height: 26;
}

.SidebarHeader span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    cursor: pointer;
}

.NavLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

/* ------------------------------------ */
/* ------------------------------------ */

.SidebarSupport{
    color: #424949;
    justify-content: center;
    background-color: #f2f3f4;
    /* margin-bottom: auto; */
    margin-top: auto;
    min-height: 100px;
}

/* ------------------------------------ */
/* ------------------------------------ */

@media (max-width: 600px) {
    .Navbar{
        padding: 0 20px;
    }
    
    .NavSidebar{
        width: 280px;
    }
    
}

@media (min-width: 601px) and (max-width: 1024px) {
    /* Tablet styles */
}