.Nav{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-bottom: 1px solid #f2f3f4;
    user-select: none;
}

.Navbar{
    padding: 0 30px;
    max-width: 1280px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

/* ------------------------------------ */

.Logo{
    /* width: 100%; */
    overflow: hidden; 
    display: flex;
    align-items: center;
    gap: 10px;
}

.Logo span{
    display: none;
    align-items: center;
    justify-content: center;
}

.Logo span svg{
    height: 24px;
    width: 24px;
}

.Logo p{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    font-weight: 600;
    /* color: #424949; */
    color: #1f618d;
}   

.Logo p svg{
    width: 26;
    height: 26;
}

/* ------------------------------------ */

.NavAction,
.NavAuth{
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavAction a,
.NavAuth a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavAction span,
.NavAuth span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    color: #424949;
}

.NavAction svg,
.NavAuth svg{
    width: 22px;
    height: 22px;
}

.NavAction p,
.NavAuth p{
    height: 36px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.NavAction p{
    background-color: #FF385C;
}

.NavAuth p{
    background-color: #1f618d;
}

/* ------------------------------------ */

.NavLinks{
    display: flex;
    align-items: center;
    gap: 50px;
    color:#424949;
}

/* ------------------------------------ */

.Functions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.Functions svg{
    width: 24;
    height: 24;
}


.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 900;
}

.NavSidebar{
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 320px;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.NavSidebarVisible {
    transform: translateX(0);
  }

.NavSidebar li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    /* padding: 0 10px; */
}

.NavSidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.NavSidebar li svg{
    width: 20px;
    height: 20px;
}

.SidebarHeader{ 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d7dbdd;
    padding: 0 20px;
}

.SidebarHeader p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    color: #1f618d;
}

.SidebarHeader p svg{
    width: 26px;
    height: 26px;
}

.SidebarHeader span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    cursor: pointer;
}

.NavLoader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

/* ------------------------------------ */
/* ------------------------------------ */

.SidebarSupport{
    color: #424949;
    justify-content: center;
    background-color: #f2f3f4;
    /* margin-bottom: auto; */
    margin-top: auto;
    min-height: 100px;
}

/* ------------------------------------ */
/* ------------------------------------ */

@media (max-width: 600px) {
    .Navbar{
        padding: 0 15px;
    }
    .NavSidebar{
        width: 80vw;
    }
    .Logo span{
        display: flex;
    }
    .NavLinks{
        display: none;
    }
    .NavAction span, .NavAuth span{
        display: none;
    }
    
}

@media (min-width: 601px) and (max-width: 1024px) {
    /* Tablet styles */
}